@using System.Xml
@using iSign
@using ISS.Session
@using Stolltec.Forms
@using Stolltec.Forms.Model
@using Stolltec.Vocatis
@using Stolltec.Vocatis.Model
@{
    var partial = Request["X-Requested-With"] == "XMLHttpRequest" || (Request.Headers != null && Request.Headers["X-Requested-With"] == "XMLHttpRequest");

    var timeTo = DateTime.Now;
    string cacheKey = "voc_last_import_time" + Request.Url;
    var last = Cache.Get(cacheKey);
    Cache.Insert(cacheKey, timeTo);
    var timeFrom = (last == null) ? timeTo : (DateTime)last;
}


@helper import(DateTime timeFrom, DateTime timeTo)
{
    Func<string, string> Normalize = (string text) =>
    {
        if (text.StartsWith("=\"") && text.EndsWith("\""))
        {
            text = text.Substring(2, text.Length - 3);
        }
        else
        {
            text = text;
        }
        return text;
    };

    var Model = new FormsModel(this);
    if (timeTo > timeFrom)
    {
        // filter list by time range [from, to)
        var addList = from dynamic item in Model.DataSource("import")
                    let start = DateTime.Parse(item.date) + TimeSpan.Parse(item.time)
                    where start >= timeFrom && start < timeTo
                    orderby start ascending
                    select new {
                        Id = item.id,
                        Start = start,
                        Name = item.name,
                        Desc = item.description,
                        Plan = Normalize(item.plan)
                    };

        const int count = 4;
        var planName = new string[count];
        var queueid = new CommonGuidId[count];
        for (int i = 0; i < count; i++)
        {
            planName[i] = (string)Model.Style["plan_name" + (i+1)].FieldInstance.Value;
            queueid[i] = (CommonGuidId)Model.Style["queueid" + (i+1)].FieldInstance.Value;
        }
        var category = (CommonGuidId[]) Model.Style["category"].FieldInstance.Value;

        <text>
        Import
        Range: [@timeFrom, @timeTo]
        <ul>
        @foreach (var item in addList)
        {
            Func<CommonGuidId, WaitNumber> CreateTicket = (CommonGuidId queue) =>
            {
                var id = item.Id;
                var len = id.Length;
                if (len < 4)
                    return null;
                var ticketNum = "T" + id.Substring(len - 3);
                using (var voc = SessionInstancesModule.GetInstance().UseSharedInstance<IVocatisData>())
                {
                    var ticket = voc.Instance.NewNumber(ticketNum, queue, category);
                    ticket.Name = item.Name;
                    ticket.Description = item.Desc;
                    ticket.ReferenceId = item.Id;
                    voc.Instance.UpdateNumber(ticket);
                    return ticket;
                }
            };
            string plan = item.Plan;
            var index = Array.IndexOf(planName, plan);
            if (index >= 0)
            {
                <text>Plan @(index+1)</text>
                CreateTicket(queueid[index]);
            }
            else
            {
                <text>Skipped</text>
            }
            <li>
                Item @item.Id
                Start: @item.Start
                Plan: @plan
            </li>
        }
        </ul>
        </text>
    }
}

@if (partial)
{
    @import(timeFrom, timeTo)
}
else
{
<!DOCTYPE html>
<html>
<head>
  <title>Import</title>
  <meta http-equiv="refresh" content="60">
</head>
<body>
  @import(timeFrom, timeTo)
</body>
</html>
}