@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
    var Model = new FormsModel(this);
}
<!DOCTYPE html>
<html>
<head>
    <title>Vocatis</title>
    <link href="@Href("Vocatis.css")" type="text/css" rel="Stylesheet" />
</head>
<body class="printer">
    @Scripts.Render("~/Scripts/jquery", "~/Scripts/forms", "~/Scripts/vocatis.js", "hammer.min.js")

    <a id="start" href="@Model.Navigate("PrinterTicket.cshtml")">
        <span>@Model.Style["text"].Value</span>
    </a>

    <div id="printPopup" style="display: none;" class="popup">
        <h1>Einen Moment ...</h1>
    </div>
    <div id="takePopup" style="display: none;" class="popup">
        <h1>Bitte entnehmen Sie<br />Ihre Wartenummer.</h1>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
		var hammertime = new Hammer(document.body, {});

		$("body").disableSelect();
		
		$("#start").printTicket({
			beginPrint: function() {
				$("#printPopup").show();
			},
			endPrint: function() {
				$("#printPopup").hide();
				$("#takePopup").show();
				window.setTimeout(function() { $("#takePopup").hide(); }, 3000);
			},
			failPrint: function() {
				$("#printPopup").hide();
			}
		});
		
            reportPrinterStatus({
		url: "@Href(Stolltec.Forms.PrinterStatus.Path)"
	    });
        });
    </script>
</body>
</html>



