@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
    var Model = new FormsModel(this);
    var list = Model.DataSource("source");
    // the $.fn.vocatisList function requests the page to update the view
    // We minimize the overhead by just sending the required contents.
    var partial = Request["X-Requested-With"] == "XMLHttpRequest" || (Request.Headers != null && Request.Headers["X-Requested-With"] == "XMLHttpRequest");
}

@helper ItemsList(IEnumerable<dynamic> list) {
<table id="list">
 
    <tbody>
        @foreach (dynamic x in list) {
        <tr>
            <td class="number">@x.number</td>
            <td class="room">@x.room</td>
        </tr>
        <tr class="spacer">
            <td colspan="2"></td>
        </tr>
        }
    </tbody>
</table>
}
@if (partial) {
    @ItemsList(list)
}
else {
<!DOCTYPE html>
<html>

<body class="list">
    @Scripts.Render("~/Scripts/jquery", "~/Scripts/forms", "~/Scripts/vocatis.js")
<head>
    <header>
        <img src="plattformlogo_01.png" class="plattformlogo" alt="plattformlogo">
        <h1>Rathaus</h1>
    </header>
    <title>Vocatis</title>
    <link href="@Href("display.css")" type="text/css" rel="Stylesheet" />
</head>
    <h2>
        Bitte warten Sie, bis Ihre Nummer erscheint:
    </h2>
    @ItemsList(list)

    @{
        var notify = Model.Style["notify"].FieldInstance.Value as string;
        var popup = Model.Style["popup"].FieldInstance.Value as string;
    }
    @if (!String.IsNullOrEmpty(notify)) {
    <audio id="notify">
        <source src="@Href(notify)" type="audio/mp3" />
    </audio>
    }
    @if (!String.IsNullOrEmpty(popup)) {
        <div id="popup" style="display:none;" class="popup @popup">
            <h3>~room~</h3>
            <h4>~number~</h4>
        </div>
    }
    <script type="text/javascript">
    $(document).ready(function() {
        var popupContent = $("#popup").html();

        $("#list")
            .vocatisList({
                interval: 2500
            })
            .highlightNumbers({
                items:"tr:not(.spacer)",
                call: function(items) {
                    var audio = document.getElementById("notify");
                    if (audio) audio.play();

                    if (popupContent) {
                            $("#popup").html(popupContent.replace("~number~", items[0].number).replace("~room~", items[0].room)).show();
                            window.setTimeout(function () { $("#popup").hide(); }, 10000);
                    }
                }
            });
    });
    </script>
</body>
</html>
}