<!DOCTYPE html>
@using System.Web.Optimization
@using Stolltec.Forms.Model
@using Stolltec.Vocatis
@using Stolltec.Vocatis.Model
@{
  var disableOpenClose = false;

  // Parse model
  var Model = new FormsModel(this);
  var queueStatus = @Vocatis.GetWaitQueueOverview();

  var buttonCount = (from i in Enumerable.Range(1,8)
                     where !String.IsNullOrEmpty((string)Model.Style["text" + i].Value)
                     select i).Count();
}
<section id="idle">
 
 
  @if (buttonCount > 1) { <h4>Wartezeiten in dem Kundenzentrum der Kfz-Zulassungsstelle</h4> }
  <h3>Stand:@DateTime.Now.ToString("HH:mm") Uhr</h3>
  <ul class="buttons-@buttonCount">
    @for (int i = 1; i <= 8; i++) {
      if (!String.IsNullOrEmpty((string)Model.Style["text" + i].Value)) {
        var queueid = Model.Style["queueid" + i].Value;
        var status = queueStatus.Where(s=>s.Id.Equals(queueid)).FirstOrDefault();
    @* Queue open *@
    if (disableOpenClose || (status.OpenCloseStatus & WaitQueueOpenCloseStatus.IsOpen) != 0)
    {
    <li @if (status.QueueLength == 0) {<text>class="btn next-one"</text>} else {<text>class="btn"</text>}class="contenido">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 10.0,10.0 0.0,20.0 Z" /></g></svg>
      </div>
      <div>
        @((string)Model.Style["text" + i].Value)
      </div>
      <div>
        <div>
          <span>
            @if (status.QueueLength > 3)
            {
              <text>aktuell warten<b> @status.QueueLength Kunden</b></text><text> <b></b></text>
            }
            else
            {
              <text>aktuell kurze Wartezeit</text>
            }
          </span>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.7 71.2">
            <path class="cls-1" d="M11.6,14.3A6.51,6.51,0,0,0,18.1,8h0a6.38,6.38,0,0,0-6.5-6.3A6.45,6.45,0,0,0,5.1,8a6.51,6.51,0,0,0,6.5,6.3h0" transform="translate(1)"/>
            <path class="cls-1" d="M27,12.8a6.51,6.51,0,0,0,6.5-6.3h0a6.5,6.5,0,0,0-13,0A6.32,6.32,0,0,0,27,12.8h0" transform="translate(1)"/>
            <path class="cls-1" d="M38.7,21.5c0-3.9-2.8-7.2-6.8-8.7h0a7.52,7.52,0,0,1-9.4,0h-.1a11.67,11.67,0,0,0-3.1,1.7,9.15,9.15,0,0,1,5.1,7.9V38.8A4.34,4.34,0,0,1,22,42.1a4.4,4.4,0,0,1-1.6.2V66.1a3.5,3.5,0,0,0,7,0V41.9h.1V66.2a3.5,3.5,0,0,0,7,0V39.9a2.6,2.6,0,0,0,1.5.4,2.64,2.64,0,0,0,2.7-2.4h0V21.5Z" transform="translate(1)"/>
            <path class="cls-1" d="M23.3,23a9.15,9.15,0,0,0-5.1-7.9,8.86,8.86,0,0,0-1.7-.8h0a7.52,7.52,0,0,1-9.4,0H6.9C2.8,15.8,0,19.2,0,23V39.4H0a2.71,2.71,0,0,0,2.7,2.4,2.66,2.66,0,0,0,2.2-1.1v27A3.51,3.51,0,0,0,8.4,71h0a3.46,3.46,0,0,0,3.5-3.4V43.4H12V67.7a3.5,3.5,0,0,0,7,0V41.3l.3.1a2.66,2.66,0,0,0,1.2.3,2.64,2.64,0,0,0,2.7-2.4V35.2Z" transform="translate(1)"/>
            <text class="cls-2" text-anchor="middle" transform="translate(13 34)">@status.QueueLength</text>
          </svg>
        </div>
      </div>
    </li>
    @* manually closed *@
    } else if ((status.OpenCloseStatus & WaitQueueOpenCloseStatus.Manual) != 0) {
    <li class="btn closed closed-manually">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 10.0,10.0 0.0,20.0 Z" /></g></svg>
      </div>
      <div>
        @((string)Model.Style["text" + i].Value)
      </div>
      <div>
       Derzeit geschlossen 
      </div>
    </li>
    @* closed by opening hours *@
    } else if ((status.OpenCloseStatus & WaitQueueOpenCloseStatus.IsOutsideHours) != 0) {
    <li class="btn closed closed-hours">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 10.0,10.0 0.0,20.0 Z" /></g></svg>
      </div>
      <div>
        @((string)Model.Style["text" + i].Value)
      </div>
      <div>
        geschlossen außerhalb der Öffnungszeiten
      </div>
    </li>  
    @* closed by limit *@
    } else if ((status.OpenCloseStatus & WaitQueueOpenCloseStatus.IsFull) != 0) {
    <li class="btn closed closed-limit">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 10.0,10.0 0.0,20.0 Z" /></g></svg>
      </div>
      <div>
        @((string)Model.Style["text" + i].Value)
      </div>
      <div>
        Geschlossen, keine freie Kapazität mehr 
      </div>
    </li>
    }}}
  </ul>
  
</section>
