@*
Printer main entry page
*@
@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = false;
  PageData["show_back"] = false;
  Layout = "PL_Layout.cshtml";
  var lang = PageData["lang"];
  var string_map = PageData["string_map"];
}
<div class="site-content">
  <h2>@string_map["Entry_Header1"]</h2>
  <h3>@string_map["Entry_Header2"]</h3>
  <textarea id="scan"></textarea>
</div>

<nav class="site-nav">
  <a href='@Model.Navigate("P1_Appointment.cshtml", new { lang=lang })'>@Html.Raw(string_map["Entry_SelectAppointmentRaw"])</a>
  <a href='@Model.Navigate("Printer.cshtml", new { lang=lang })'>@Html.Raw(string_map["Entry_SelectTicketRaw"])</a>
</nav>

@* Qr code scanning *@
<script type="text/javascript">
  var timeoutHandle = null;
  $('#scan').on("keydown", function() {
    if (timeoutHandle) {
      window.clearTimeout(timeoutHandle);
    }
    timeoutHandle = window.setTimeout(function() {
      var url = '@Html.Raw(Model.Navigate("P1_Appointment.cshtml", new { a="--text--", lang=lang }))';
      url = url.replace("--text--", encodeURI($("#scan").val()));
      window.location.href = url;
    }, 100);
  }).blur(function() {
    window.setTimeout(function () { $("#scan").focus(); }, 20);
  }).focus();

  @* auto fill the import cache *@
  var fillCache = function() {
    $.ajax("@Html.Raw(Model.Navigate("FillCache.cshtml"))", { cache: false });
  }
  window.setTimeout(fillCache, 10);
  window.setInterval(fillCache, 5 * 60 * 1000);
</script>
