@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  var withQrCode = PageData["ticket_show_qr_code"];
  var Model = new FormsModel(this);

  var id = Model.Style["id"].Value;

  var lang = PageData["lang"];
  var string_map = PageData["string_map"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Vocatis</title>
    <link href="@Href("style.css")" type="text/css" rel="Stylesheet" />
</head>
<body>
@Scripts.Render("~/Scripts/jquery", "js/jquery.qrcode.js", "js/url_polyfill.js")
<section class="ticket print_ticket">
    <header>
      @Html.Raw(String.Format(string_map["Ticket_TimeFormatRaw"], DateTime.Now))
    </header>
  <h1>
    @Model.Style["ticketnumber"].Value
  </h1>
  <img src="img/separation.png" class="separation" alt="Trennung">
  <section class="qrcode">
    @if (withQrCode) {
    <h4>@string_map["Ticket_AppHeader"]</h4>
    <a href="@Href("App.cshtml", new {i=id})"></a>
    }
    <img src="img/customerlogo.png" class="customerlogo" alt="Ersatztext">
  </section>
<script type="text/javascript">
  window.onload = function () {
    var appurl = new URL($(".qrcode>a").attr("href"), window.location.href).href;
    $("section.qrcode>a").qrcode({text: appurl})
    window.focus();
    window.print();
    // remove this line for testing:
    window.setTimeout(function () { window.close() }, 1000);
  };
</script>
</body>
</html>
    
