@*
  Printer navigation level 1
  Select appointment
*@
<!DOCTYPE html>
@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = true;
  PageData["home_class"] = "stage-1";
  PageData["show_back"] = true;
  PageData["back_class"] = "stage-2";
  Layout = "PrinterLayout.cshtml";

  var start = DateTime.Now.AddMinutes(-0);  // Use this to add a delay
  var minutes = 15 * (start.Minute / 15);
  start = new DateTime(start.Year, start.Month, start.Day, start.Hour, minutes, 0);
  var appointments_dt = new [] {
    start, start.AddMinutes(15), start.AddMinutes(30), start.AddMinutes(45)
  };
  int counter = 0;
  var appointments = from ap in appointments_dt
    let disp = ap.ToString("HH:mm") + " Uhr"
    select new {
      id = "ap" + counter++,
      value = disp,
      display = disp
    };
}
<div class="site-content">
  <h3>Bitte geben Sie den ersten Buchstaben Ihres Vor-und Nachnamens ein.<br>(Martina Muster = MM)</h3>
  <input id="txtFind"/>
  <fieldset id="appointment" class="stage-2" style="display: none;">
    <label>
      <h5>Mein Termin:</h5>
    </label> 
    <ul class="flex-container">
      @foreach (var a in appointments)
      {
        <li>
            <input id="@a.id" name="ap" type="radio" value="@a.value" /><label class="list-button" for="@a.id">@a.display</label>
        </li>
      }
    </ul>
  </fieldset>
  <button id="btnOK2" class="stage-2">OK</button>
</div>
  
@{
  // keyboard
  var keyboard = new string[] {
    "QWERTZUIOPÜ",
    "ASDFGHJKLÖÄ",
    "YXCVBNM" };
}

<fieldset class="stage-1">
  <div id="keyboard">
    @for (int i = 0; i < keyboard.Length; i++) {
      <div class="tasten">
        @foreach (var c in keyboard[i]) { <a role="button">@c</a> }
        @if (i == 2)
        {
        <a data-key="&#8;" role="button" class="entf">&nbsp;</a>
        }
      </div>
    }
    <div class="sonderzeichen">
        <a data-key=" " role="button">Leerzeichen</a>
        <a role="button">-</a>
        <button id="btnOK">OK</button>
    </div>
  </div>
</fieldset>

<script type="text/javascript">
function showStage(index) {
  if (index == 1) {
    $(".stage-2").hide();
    $(".stage-1").show();
  } else {
    $(".stage-1").hide();
    $(".stage-2").show();
  }
}
function updateDisabled() {
  $("#btnOK").prop('disabled', !$("#txtFind").val());
  $("#btnOK2").prop('disabled', !$("input[name='ap']:checked").length);
}
$(document).ready(function () {
  // disabled
  updateDisabled();
  $("#txtFind").on("input", updateDisabled);
  $("input[name='ap']").change(updateDisabled);

  // stages
  showStage(1);
  $("#btnOK").click(function() { showStage(2) })
  $("#btnBack").click(function(ev) {
    showStage(1);
    ev.preventDefault();
  });
  $("#btnOK2").click(function() {
    var name = $("#txtFind").val();
    var desc = $("input[name='ap']:checked").val();
    var url = '@Html.Raw(Model.Navigate("P2_ThankYou.cshtml", new { name="~~name~~", desc="~~desc~~"}))';
    url = url.replace("~~name~~", name).replace("~~desc~~", desc);
    window.location = url;
  })

  // keyboard
    $("#keyboard a").keyboard({ textbox: "#txtFind" });
});
</script>