@using iSign
@using ISS.Session
@using Stolltec.Vocatis
@using System.Web.Optimization
@using Stolltec.Vocatis.Model
@using Stolltec.Forms.Model
@{
  var withQrCode = true;
  var partial = Request["X-Requested-With"] == "XMLHttpRequest" || (Request.Headers != null && Request.Headers["X-Requested-With"] == "XMLHttpRequest");

  var model = new FormsModel(this);
  var tracking_id = (string)model.Style["tracking_id"].Value;
}

@helper content(bool withQrCode, string tracking_id, FormsModel model) {
  var index = Request["index"];
  dynamic queueid = model.Style["queueid" + index].Value;
  dynamic catids = model.Style["catid" + index].Value;
  WaitNumber ticket;
  using (var voc = SessionInstancesModule.GetInstance().UseSharedInstance<IVocatisData>())
  {
    ticket = voc.Instance.NewNumber(queueid, catids);
    //ticket.IconUrl = Href("icons/{num}.svg".Replace("{num}", ticket.Number));
    //voc.Instance.UpdateNumber(ticket);
  }

@Scripts.Render("js/jquery.qrcode.js", "js/url_polyfill.js")
<section class="ticket">
  <header>
  <p>HERZLICH WILLKOMMEN<br>bei Ihrer Berliner Volksbank</p>
  </header> 
  <div class="info">
    <p>Machen Sie es sich kurz bequem.<br>Wir sind gleich pers&#246;nlich f&#252;r Sie da!</p>
    <p>Ihre Beratungs-Nr.</p>
  </div>
  <h1>
    @ticket.Number
  </h1>
  @if (!String.IsNullOrEmpty(ticket.IconUrl)) {
    <img src="@Href(ticket.IconUrl)">
  }
  <section class="qrcode">
    @if (withQrCode) {
    <a href="@Href("App.cshtml", new {id=ticket.Id, tracking_id})"></a>
    }  
  <h6>Kleiner Tipp:</h6>
  <p>QR-Code scannen, um Ihre Position auch online zu verfolgen.</p>
  </section>
  <footer>
    @DateTime.Now.ToString("dd.MM.yyyy")&emsp;
  </footer>
</section>
<script type="text/javascript">
  var appurl = new URL($(".qrcode>a").attr("href"), window.location.href).href;
  $("section.qrcode>a").qrcode({text: appurl})
</script>
}

@if (partial) {
    @content(withQrCode, tracking_id, model)
}
else {
<!DOCTYPE html>
<html>
<head>
  <title>Ticket</title>
  <link href="@Href("style.css")" type="text/css" rel="stylesheet" />
</head>
<body>
  @Scripts.Render("~/Scripts/jquery")
  <div class="print_ticket" style="display: block !important;">
    @content(withQrCode, tracking_id, model)
  </div>
</body>
</html>
}