@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  var withQrCode = true;
  var Model = new FormsModel(this);

  var id = Model.Style["id"].Value;
}
<!DOCTYPE html>
<html>
<head>
    <title>Vocatis</title>
    <link href="@Href("style.css")" type="text/css" rel="Stylesheet" />
</head>
<body>
@Scripts.Render("~/Scripts/jquery", "js/jquery.qrcode.js")
<section class="ticket print_ticket">
  <header>
    <h4>HERZLICH WILLKOMMEN</h4>
    <h5>bei Ihrer Berliner Volksbank</h5>
  </header>
  <p>Machen Sie es sich kurz bequem.<br>Wir sind gleich pers&#246;nlich f&#252;r Sie da!</p>
  <p>Ihre Beratungs-Nr.</p> 
   <h1>
    @Model.Style["ticketnumber"].Value
  </h1>
  <section class="qrcode">
    @if (withQrCode) {
  
    <a href="@Href("App.cshtml", new {id=id})"></a>
    } 
  <footer>
    @DateTime.Now.ToString("dd.MM.yyyy")&emsp;
  </footer>
  </section>



<script type="text/javascript">
  window.onload = function () {
    var appurl = new URL($(".qrcode>a").attr("href"), window.location.href).href;
    $("section.qrcode>a").qrcode({text: appurl})
    window.focus();
    window.print();
    // remove this line for testing:
    window.setTimeout(function () { window.close() }, 1000);
  };
</script>
</body>
</html>
    
