@using System.Web.Optimization
<!doctype html>
@{
  var lang = PageData["lang"];
  var langs = PageData["langs"];
  var string_map = PageData["string_map"];
}
<html>
<head>
  <meta charset="utf-8">
  <title>Vocatis</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
  <meta name="theme-color" content="#53668D"/>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <link href="@Href("app.css")" type="text/css" rel="stylesheet" />
</head>
<body>
  <header>
 <img src="img/plattform_01.png" class="plattform" alt="plattform">
 <h1><span style="text-transform:uppercase">@string_map["App_Title_a"]</span> @string_map["App_Title_b"]</h1>
</header>

<section class="logo">
  <img src="img/customerlogo.png" />
</section>

<div id="content" data-content-src="@Href("AppContent.cshtml", new {id=Request["i"], o=Request["o"], lang})">
  <section class="loading content">
    @string_map["App_Loading"]
  </section>
</div>
<div id="error" style="display: none;">
 <h2>@string_map["App_ErrorOccuredHeader"]</h2>
 <p>@string_map["App_ErrorOccuredText"]</p>
</div>

@if (langs.Count > 1) {
<footer>
  @foreach (var l in langs)
  {
    <a class="button" href='@Href("", new { lang=l, id=Request["id"], o=Request["o"] })'>
      <p>@string_map["lang_" + l]</p>
      <img src="lang/@(l).png">
    </a>
  }
</footer>
}

@Scripts.Render("~/Scripts/jquery")
<script type="text/javascript">
  $(document).ready(function() {
    @* update queue list periodically *@
    var contentDiv = $("#content");
    var errorDiv = $("#error");
    var url = contentDiv.data("content-src");
    var update = function () {
      $.ajax({
        url: url,
        cache: false
      }).done(function (result) {
        contentDiv.html(result);
        contentDiv.show();
        errorDiv.hide();
      }).fail(function (result) {
        contentDiv.hide();
        errorDiv.show();
      }).always(function() {
        window.setTimeout(update, 60000);
      });
    };
    window.setTimeout(update, 0);
  });
</script>
@{
  var tracking_id = Request["t"];
  if (!String.IsNullOrEmpty(tracking_id)) {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@tracking_id"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '@tracking_id');
    </script>
  }
}
</body>
</html>
